Class notes
Sir said, variables should be noun.

In [2]:
10%3

1

In [8]:
name = "mark"
name=name+" sam"     #Concatenation
value=10
value=value+10

print(name)
print(value)

mark sam
20

In [14]:
2 % 4 * 3

6

In [17]:
greeting="Hello"
separators=", "
addresses="World"
punc="!"
whole_greeting=greeting+separators+addresses+punc
print(whole_greeting)

Hello, World!

In [37]:
species = "Cat"

In [35]:
if species == "Cat":
    print("yep, It's a Cat")

yep, It's a Cat

In [42]:
a = 10
if a > 0:
    print("The number was ",a)
    print("It's a positive number")   #end of if block
else:
    print("It's a negativer number")
print("number is ",a)

The number was  10
It's a positive number
number is  10

In [58]:
donut_condition = "fresh"
donut_price = "low"

if donut_condition == "fresh": 
    buy_score = 10 
elif donut_price == "low":  
    buy_score = 5
else: 
    buy_score = 0
    
print(buy_score)

10

In [68]:
donut_filling = "reasonable"
buy_score = 0 
if donut_condition == "fresh":    
    buy_score += 10 
if donut_filling == "chocolate": 
    buy_score += 5 
if donut_price == "reasonable":  
    buy_score += 7
    
print(buy_score)

10

In [92]:
age = 20
res = "U.K."
age > 65 or age < 21 and res == "U.K."

True

In [40]:
first_name = "Harry"
last_name = "Potter"
if first_name == "Harry":
    if last_name == "Potter":
        # if interest == "wizardry" 
            print("Welcome back to Hogwarts, Harry!")
    else:
        print("Name is incorrect")

Welcome back to Hogwarts, Harry!

In [35]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
print("Welcome to " + cities[2])
cities.insert(1, "Karachi")
cities[2] = "Hyderabad"

mixed_things = [1, "Bob", "Now is"]
print(mixed_things[1])

cities.append("Newyork")
cities.append(1)
print(cities)

todays_tasks = []
todays_tasks = todays_tasks + ["Walk dog", "Buy groceries"]
print(todays_tasks)

A = todays_tasks + cities
print(A)

Welcome to Chicago
Bob
['Atlanta', 'Karachi', 'Hyderabad', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Newyork', 1]
['Walk dog', 'Buy groceries']
['Walk dog', 'Buy groceries', 'Atlanta', 'Karachi', 'Hyderabad', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Newyork', 1]

In [22]:
smaller_list_of_cities = cities[2:]
print(smaller_list_of_cities)

['Hyderabad', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Newyork', 1]

In [27]:
del cities[0]
print(cities)

['Karachi', 'Hyderabad', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Newyork', 1]

In [38]:
cities.pop()
print(cities)

['Atlanta', 'Karachi', 'Hyderabad', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [12]:
print(A)

['Walk dog', 'Buy groceries', 'Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Newyork', 1]

In [23]:
subjects = ["English", "Urdu", "Islamiyat", "PST", "Computer"]
Marks = [60, 65, 90, 55, 85]

In [44]:
tot_subs = subjects[0] +"\n"+ subjects[1] +"\n"+ subjects[2] +"\n"+ subjects[3] +"\n"+ subjects[4]
print(tot_subs)
tot_marks  = Marks[0] + Marks[1] + Marks[2] + Marks[3] + Marks[4]
print(tot_marks)

English
Urdu
Islamiyat
PST
Computer
355

In [15]:
tot_marks  = Marks[0] + Marks[1] + Marks[2] + Marks[3] + Marks[4]
print(tot_marks)

355